/* CV CSS */

body {
	background-color: rgba(0,0,0,0.1);
}

/* GENERAL */

h1, h2, h3, h4, h5 {
	color: rgba(0,0,0,.6)!important;
	text-transform: uppercase;
}

p {
	color: rgba(0,0,0,.5)!important;
}

.col-sm p {
    margin: 0!important;
}

.exp-desc {
	border-left: 1.5px solid #46bcec
}

.exp-desc .text-muted {
	color: #46bcec!important;
}

.date {
	font-weight: 450;
}

.section h1 span {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    content: '';
    background: #46bcec;
    width: 3.2em;
    height: 2px;
    margin: 0 auto;
}

/** HEADER */

.header {
	background-color: #00709e;
	height: 280px;
	padding: 80px 0;
}

.header-name {
	color: rgba(255,255,255,.7)!important;
    font-size: 200%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
}

.header-function {
	color: rgba(255,255,255,.5)!important;
    margin: 5px;
    padding-top: 15px;
    font-size: 120%;
    text-transform: uppercase;
    font-weight: 300;
    /*border-top: 1px solid #fff;*/
    position: relative;
    display: inline-block;
}

.header-function::before {
    content: " ";
    display: block;
    position: relative;
    height: 1px;
    background: #fff;
    width: 6.7em;
    top: -10px;
    margin: 0 auto;
}

/* NAVIGATION */

.navbar {
	background-color: #555d5e!important;
	text-align: center;
    z-index: 999;
}

.nav-link {
	color: rgba(255,255,255,.5)!important;
	text-transform: uppercase;
}

.nav-link:hover {
	color: #fff!important;
}
.nav-link:active {
	color: #fff!important;
}

/* PRESENTATION */

#avatar {
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

#presentation .section-p {
	padding-top: 20px;
}

/* COMPETENCES */

.comp-icon {
	padding: 20px;
	width: 130px;
	min-height: 70px;
	height: auto;
    box-sizing: border-box;
    margin: 0 auto;
    color: #fff;
    font-size: 2em;
}

.back-end {
	background-color: rgba(0,100,255,0.8);
}

.front-end {
	background-color: rgba(150,100,255,0.8);
}

.tools {
	background-color: rgba(255,0,0,0.8);
}

.others {
    background-color: #555d5e;
}

.real-block h2 {
	min-height: 2.5em;
}

a.tip {
    border-bottom: 1px dashed;
    text-decoration: none;
    transition: 0.4s;
}
a.tip:hover {
    cursor: pointer;
    position: relative;
}
a.tip span {
    display: none;
}
a.tip:hover span {
    /*border: #c0c0c0 1px solid;*/
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background-color: rgba(0,0,0,0.6);
    left: 0px;
    margin: 20px;
    width: 250px;
    position: absolute;
    top: -50px;
    text-decoration: none;
    color: rgba(255,255,255,.8)!important;
    text-transform: uppercase;
}

/** ===
* == FOOTER
*/
footer {
    text-align: center;
    background-color: #fff;
    padding: 50px 0;
}

/* RESPONSIVE */
@media only screen and (max-width: 1000px) {
	.real-block {
	min-width: 100%;
	margin-bottom: 8px;
	}

    .exp-desc {
	min-width: 100%;
	margin-bottom: 8px;
	}

	.navbar {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 9999;
	}

	.col  {
		flex: 0 0 100%!important;
		flex-basis: unset!important;
		margin-bottom: 22px;
    }
}

@media only screen and (min-width: 1000px) {
    /* NAVBAR STAY FIXED WHEN SCROLLING */
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }

    .sticky + .content {
      padding-top: 60px;
    }
}